<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="/static/styles/kendo.common.min.css" rel="stylesheet" />
<link href="/static/styles/kendo.flat.min.css" rel="stylesheet" />
<link href="/static/edit.css" rel="stylesheet" />
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/kendo.core.min.js"></script>
<script src="/static/js/kendo.data.min.js"></script>
<script src="/static/js/kendo.menu.min.js"></script>
<script src="/static/js/kendo.popup.min.js"></script>
<script src="/static/js/kendo.userevents.min.js"></script>
<script src="/static/js/kendo.draganddrop.min.js"></script>
<script src="/static/js/kendo.window.min.js"></script>
<script src="/static/js/kendo.list.min.js"></script>
<script src="/static/js/kendo.combobox.min.js"></script>
<script src="/static/js/kendo.slider.min.js"></script>
<script src="/static/js/kendo.colorpicker.min.js"></script>
<script src="/static/d3/d3.v3.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/helpers.js"></script>
<script type="text/javascript" src="/static/edit.js"></script>
<title>Aed ~ Protocol Editor</title>
</head>
<body>
<div id="div_topmenu">
	<ul id="menu">
		<li>File
				<ul>
					<li>New</li>
					<li>Open</li>
					<li>Close</li>
					<li><hr /></li>
					<li>Delete</li>
					<li>Save</li>
					<li>Clone</li>
					<li><hr /></li>
					<li>Change Paradigm</li>
				</ul>
		</li>			
		<li>Edit
			<ul>
				<li onclick="edit_trialDuration()">Trial Duration</li>
				<li>Protocol Name</li>
			</ul>
		</li>
		<li>Options
			<ul>
				<li>Auto Save</li>
			</ul>	
		</li>
	</ul>
	<div id="div_paradigm_name"><b>Paradigm: </b><i>none</i></div>
</div>
<svg id="flow"></svg>

<div class="toolbox">
	<div class="buttons-panel">
		<button id="btn_add_ival" class="k-button" onclick="btn_newInterval()">Add Interval</button> <br />
		<button id="btn_add_evt" class="k-button" onclick="btn_newEvent()">Add Event</button> <br />
		<button id="btn_del_sel" class="k-button" onclick="btn_delSelected()">Delete Selection</button>
	</div>
<!--	<div class="interval_type_container"></div>
	<div class="event_type_container"><input id="select_event_type" placeholder="Select event type"></div>		
-->
	<div class="details-panel k-content">
		<div id="trial_duration">
		<label class="info">Trial Duration</label><br />
		&nbsp;&nbsp;<input type="text" name="duration" value="{{default_duration}}"
		 placeholder="0.0" class="k-input" /> seconds <br />
		&nbsp;&nbsp;<button class="k-button" onclick="set_trialDuration()">Set</button>
	</div>
	<div id="interval_details">
		<input id="select_interval_type" placeholder="Select interval type" />

		<br />
		<label for="interval_name">Name</label>
		<input type="text" id="interval_name" class="k-input" /> <br />
		<label for="interval_duration">Duration</label>
		<input type="text" id="interval_duration" class="k-input" value="0.0" /> seconds <br />
		<div class="color-field">
		<label for="interval_color">Color</label>
		<input id="interval_color" />
		</div>
		<div class="prop_details"></div>
		<button class="k-button" name="go"></button>
	</div>
	<div id="event_details">
		<input id="select_event_type" placeholder="Select event type">
		<div class="color-field">
		<label for="event_color">Color</label>
		<input id="event_color" />
		</div>
		<div class="prop_details"></div>
		<button class="k-button" name="go"></button>
	</div>
	</div>
</div>
</body>
</html>
